pipeline/notebook.ipynb
pipeline/.ipynb_checkpoints/notebook-checkpoint.ipynb
pipeline/.ipynb_checkpoints/pyproject-checkpoint.toml
pipeline/notebook1.ipynb
pipeline/.ipynb_checkpoints/Untitled-checkpoint.ipynb
